tr{
    border: 1px solid black; 
    width: 20%;
    height: 20%; 
    font-size: xx-large; 
}
td{
    border: 1px solid black;  
    width: 20%;
    height: 20%; 
}
#header{
    background-color: gray;
    font-weight: bold;
}
.left{
    background-color: gray;
}